.work__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: var(--mb-2);
}

.work__item {
    color: var(--title-color);
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
}

.work__item:hover {
    background-color: var(--title-color);
    color: var(--container-color);
}

.work__container {
    grid-template-columns: repeat(2, max-content);
    gap: 3rem;
    justify-content: center;
}

.work__card {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 225px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.work__card:hover .work__overlay {
    transform: translateY(0);
}
  
.work__card:hover .work__img {
    transform: scale(1.2);
}

.work__img {
    width: 100vh;
    object-fit: cover;
    transition: transform 0.3s ease;
}
  
.work__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.work__title {
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.work__icons {
    display: flex;
    gap: 20px;
}

.work__icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    transition: background 0.3s ease, color 0.3s ease;
}

.work__icon-link:hover {
    background: #0f969c;
    color: #fff;
    border: 2px solid #0f969c;
}

.active-work {
    background-color: var(--title-color);
    color: var(--container-color);
}


/*=============== DARK THEME STYLES ===============*/
.dark-theme .work__item {
    color: #ccc;
}

.dark-theme .work__item:hover {
    color: var(--container-color);
    background-color: #0f969c;
}

.dark-theme .work__card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #22222245;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

.dark-theme .work__title {
    color: #fff;
}

.dark-theme .work__button:hover {
    color: #33ccff;
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .work__container {
        gap: 1.25rem;
    }

    .work__card {
        padding: 0.6rem;
        width: 100%;
        height: auto;
    }

    .work__title {
        margin-bottom: 0.25rem;
    }
}
  
/* For medium devices */
@media screen and (max-width: 768px) {
    .work__container {
        grid-template-columns: max-content;
    }
}

/* For medium devices */
@media screen and (max-width: 576px) {
    .work__container {
        grid-template-columns: 1fr;
    }

    .work__img {
        width: 100%;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .work__item {
        font-size: var(--small-font-size);
    }

    .work__filters {
        column-gap: 0.25rem;
    }
}